// Box-sizing
*,
*::after,
*::before {
    box-sizing: border-box;
}

// Color Default
$black: #000000;
$white: #ffffff;
$red: #e9545b;
$darkgrey: #6c757d;
$silver: #EBEBEB;
// Font Family
$font1: 'Roboto Regular';
$font2: 'Roboto Medium';
$font3: 'Roboto Bold';
// Font Mixin
@function em($pixel, $contexto: 16) {
    @return $pixel / $contexto+em;
}

@mixin type-1($size) {
    font-family: $font1;
    @if $size==10 {
        font-size: em(10);
        line-height: em(30, 10);
    }
    @else if $size==12 {
        font-size: em(12);
        line-height: em(30, 12);
    }
    @else if $size==14 {
        font-size: em(14);
        line-height: em(30, 14);
    }
    @else if $size==16 {
        font-size: em(16);
        line-height: em(30, 12);
    }
    @else if $size==18 {
        font-size: em(18);
        line-height: em(30, 18);
    }
    @else if $size==20 {
        font-size: em(20);
        line-height: em(30, 20);
    }
    @else if $size==24 {
        font-size: em(24);
        line-height: em(30, 24);
    }
    @else if $size==28 {
        font-size: em(28);
        line-height: em(30, 28);
    }
    @else if $size==32 {
        font-size: em(32);
        line-height: em(30, 32);
    }
    @else if $size==36 {
        font-size: em(36);
        line-height: em(30, 36);
    }
    @else if $size==40 {
        font-size: em(40);
        line-height: em(30, 40);
    }
    @else if $size==44 {
        font-size: em(44);
        line-height: em(30, 44);
    }
}

@mixin type-2($size) {
    font-family: $font2;
    @if $size==10 {
        font-size: em(10);
        line-height: em(30, 10);
    }
    @else if $size==12 {
        font-size: em(12);
        line-height: em(30, 12);
    }
    @else if $size==14 {
        font-size: em(14);
        line-height: em(30, 14);
    }
    @else if $size==16 {
        font-size: em(16);
        line-height: em(30, 12);
    }
    @else if $size==18 {
        font-size: em(18);
        line-height: em(30, 18);
    }
    @else if $size==20 {
        font-size: em(20);
        line-height: em(30, 20);
    }
    @else if $size==24 {
        font-size: em(24);
        line-height: em(30, 24);
    }
    @else if $size==28 {
        font-size: em(28);
        line-height: em(30, 28);
    }
    @else if $size==32 {
        font-size: em(32);
        line-height: em(30, 32);
    }
    @else if $size==36 {
        font-size: em(36);
        line-height: em(30, 36);
    }
    @else if $size==40 {
        font-size: em(40);
        line-height: em(30, 40);
    }
    @else if $size==44 {
        font-size: em(44);
        line-height: em(30, 44);
    }
}

@mixin type-3($size) {
    font-family: $font3;
    @if $size==10 {
        font-size: em(10);
        line-height: em(30, 10);
    }
    @else if $size==12 {
        font-size: em(12);
        line-height: em(30, 12);
    }
    @else if $size==14 {
        font-size: em(14);
        line-height: em(30, 14);
    }
    @else if $size==16 {
        font-size: em(16);
        line-height: em(30, 12);
    }
    @else if $size==18 {
        font-size: em(18);
        line-height: em(30, 18);
    }
    @else if $size==20 {
        font-size: em(20);
        line-height: em(30, 20);
    }
    @else if $size==24 {
        font-size: em(24);
        line-height: em(30, 24);
    }
    @else if $size==28 {
        font-size: em(28);
        line-height: em(30, 28);
    }
    @else if $size==32 {
        font-size: em(32);
        line-height: em(30, 32);
    }
    @else if $size==36 {
        font-size: em(36);
        line-height: em(30, 36);
    }
    @else if $size==40 {
        font-size: em(40);
        line-height: em(30, 40);
    }
    @else if $size==44 {
        font-size: em(44);
        line-height: em(30, 44);
    }
}

// Other Mixin
@mixin line {
    content: '';
    display: block;
    width: 220px;
    height: 6px;
    margin-top: 20px;
    margin-bottom: 10px;
}

@mixin circle {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

@mixin opacity-1 {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    -o-opacity: 0.7;
    opacity: 0.7;
}

@mixin transition-1 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@mixin btn-white {
    color: $white;
    padding: 10px 20px;
    border: 2px solid $white;
    text-decoration: none;
    &:hover {
        background: $white;
        color: $green;
        @include opacity-1;
    }
}

@mixin btn-color {
    color: $green;
    padding: 10px 20px;
    border: 2px solid $green;
    background: transparent;
    text-decoration: none;
    &:hover {
        background: $green;
        color: $white;
    }
}

@mixin btn-color2 {
    color: $green;
    padding: 10px;
    border: 2px solid $green;
    background: transparent;
    text-decoration: none;
    &:hover {
        background: $green;
        color: $white;
    }
}

@mixin linha {
    width: 100px;
    border: 1px solid $blue;
}

@mixin titlesec {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.25em;
}

@mixin placeholder-gray {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $gray;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $gray;
    }
    &::-ms-input-placeholder {
        /* IE 10+ */
        color: $gray;
    }
    &::-moz-placeholder {
        /* Firefox 18- */
        color: $gray;
    }
}

@mixin placeholder-orange {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $orange;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $orange;
    }
    &::-ms-input-placeholder {
        /* IE 10+ */
        color: $orange;
    }
}

@mixin borda1 {
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -webkit-border-radius: 6px;
}

@mixin borda2 {
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
}

@mixin borda3 {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -webkit-border-radius: 5px;
}

@mixin borda5 {
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
}

@mixin sombra {
    -webkit-box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 10px -4px rgba(0, 0, 0, 0.75);
}

@mixin input-gray {
    border: 3px solid $green;
    background: $gray2;
    @include type-4(14);
    // width: 100%;
    border-right: none;
    // padding: 5px;
    outline: none;
    color: $gray5;
    border: none;
    // padding: 6px; 
    // margin: 20px 0;
}

@mixin input-white {
    background: $white;
    @include type-2(14);
    width: 100%;
    border: none;
    padding: 5px 20px;
    color: $orange;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -webkit-border-radius: 10px;
}

@mixin input-item {
    margin-bottom: 10px;
}

@mixin opacity-1 {
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    -o-opacity: 0.7;
    opacity: 0.7;
}